body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D5D4CF !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #333B4E;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    z-index: 2;
}

.header__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;
}

.profile-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.profile-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    text-align: center;
}

.profile-popup img {
    max-width: 100%;
    max-height: 100%;
}

.profile-popup .close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.profile__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.header__title {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.2s ease-in-out;
}

.nav__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav__item {
    margin-left: 30px;
}

.nav__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.2s ease-in-out;
}

.nav__menu {
    display: block;
    animation: menuAnimation 0.5s ease forwards;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
    transition: background-color 0.3s;
}

.menu-toggle.active {
    animation: menuAnimation 0.5s ease forwards;
}

@keyframes menuAnimation {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        transform: translateY(0);
    }
}

.header__social-icons {
    display: flex;
    align-items: center;
}

.social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    text-align: center;
    line-height: 40px;
    transition: all 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
    background-color: #000;
    color: #fff;
}

.social-icon i {
    font-size: 18px;
}

.social-icon:nth-child(1) {
    background-color: #333;
    color: #fff;
}

.social-icon:nth-child(2) {
    background-color: #0077b5;
    color: #fff;
}

.social-icon:nth-child(3) {
    background-color: #25d366;
    color: #fff;
}

.nav__link:hover {
    color: #5C708F;
}

.buttonTitulo {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.buttonTitulo {
    --border-right: 6px;
    --text-stroke-color: #fff;
    --animation-color: #5C708F;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: width 0.5s ease, filter 0.5s ease;
    -webkit-text-stroke: 1px var(--animation-color);
}

.buttonTitulo:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color));
    transition: width 0.5s ease, filter 0.5s ease;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    --background: #8b898e;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px rgb(255, 255, 255);
    background: var(--background);
    transition: .5s;
}

input:checked+.slider {
    background-color: #434343;
}

input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #c8c8c8;
}

/* proyectos */


.intro-proyectos {
    text-align: center;
    padding: 50px 20px;
    background-color: #D5D4CF;
    margin-bottom: 40px;
    margin-top: 10px;
}

.titulo-proyectos {
    font-size: 2.5rem;
    color: #5C708F;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
}

.titulo-proyectos::after {
    content: '';
    width: 80px;
    height: 4px;
    background-color: #333B4E;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.4s ease;
}

.titulo-proyectos:hover::after {
    width: 150px;
}

.descripcion-proyectos {
    font-size: 1.2rem;
    color: #333B4E;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .titulo-proyectos {
        font-size: 2rem;
    }

    .descripcion-proyectos {
        font-size: 1rem;
    }
}

.proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #dddddd;
    padding: 40px 20px;
}

.card {
    background-color: transparent !important;
    width: 100%;
    aspect-ratio: 1 / 0.7;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: none !important;

}

.card .image-box {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card .image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 30%;
    max-width: 100%;
    max-height: 100%;
    transition: 0.5s ease-in-out;
    animation: fadeInScale 1s ease forwards;

}

.card:hover img {
    filter: grayscale(1) brightness(0.4);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;

}

.card:hover .content {
    opacity: 1;
}

.content h2,
.content p {
    margin: 10px 0;
}

p {
    font-size: 12px;
}

.content .icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card:hover .icons {
    opacity: 1;
}

.content .icons a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.content .icons a:hover {
    color: #ffcc00;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/* Footer */
.footer {
    background-color: #333B4E;
    color: #fff;
    padding: 60px 0;
}

.footer__grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__item {
    flex-basis: calc(50% - 20px);
    margin-bottom: 40px;
}

.footer__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__list li {
    margin-bottom: 10px;
    display: flex;
}

.footer__list li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.footer__list li a:hover {
    color: #c7c7c7;
}

.footer__description {
    margin-bottom: 20px;
}

.footer__separator {
    border: 1px solid #fff;
    margin: 20px 0;
}

.footer__rights {
    font-size: 16px;
    font-weight: 400;
}


/* Modo responsivo */

@media screen and (max-width: 1000px) {
    .header {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: flex-start;
        position: relative;
    }

    .header__logo {
        margin-bottom: 10px;
        margin: 0 auto;
    }

    .header__social-icons {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin: 0 auto;
    }

    .header__profile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .profile__image {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    #toggle-dark-mode {
        margin-top: 10px;
        align-self: center;
    }

    .header__title {
        font-size: 20px;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #ffffff;
        transition: color 0.3s;
        margin: 0 auto;
        order: 3;
    }

    .nav__menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #262c3a;
        padding: 10px;
        z-index: 999;
    }

    .nav__menu.active {
        display: flex;
    }

    .nav__list {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav__item {
        margin: 10px 0;
    }

    .nav__link {
        font-size: 18px;
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .header__logo img {
        width: 35px;
        height: 35px;
    }

    .header__title {
        font-size: 18px;
    }

    .header button {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .nav__link {
        font-size: 16px;
    }
}

@media screen and (max-width: 1000px) {
    .proyectos {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
}

@media screen and (max-width: 600px) {
    .proyectos {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .card {
        width: 100%;
        aspect-ratio: auto;
    }

    .content h2 {
        font-size: 0.8rem;
    }

    .content p {
        font-size: 0.5rem;
    }
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #007bff;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}


/* Modo oscuro */
.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode {
    background-color: #202020 !important;
    color: #ffffff;
}

body.dark-mode .header {
    background-color: #121212 !important;
    color: #ffffff;
}

body.dark-mode .card {
    background-color: #444444;
    color: #ffffff;
}

body.dark-mode .proyectos {
    background-color: #444444;
    color: #ffffff;
}

body.dark-mode .h1 {
    color: #fff;
}

body.dark-mode p {
    color: #fff;
}

body.dark-mode .buttonTitulo {
    color: #ffffff;
}

body.dark-mode .nav__link {
    color: #fff;
}

body.dark-mode .menu-toggle {
    background-color: #090909;
    color: #ffffff;
}

body.dark-mode .nav__menu {
    background-color: #202020;
    color: #ffffff;
}

body.dark-mode .intro-proyectos {
    background-color: #202020;
    color: #ffffff;
}

body.dark-mode .titulo-proyectos {
    color: #ffffff;
}


body.dark-mode .footer {
    background-color: #121212;
}

body.dark-mode .buttonTitulo {
    --text-stroke-color: #b3b3b3;
    --animation-color: #000a95;
}

body.dark-mode ::-webkit-scrollbar {
    background-color: #333;
}

body.dark-mode ::-webkit-scrollbar-thumb {
    background-color: #555;
}

body.dark-mode ::-webkit-scrollbar-thumb:hover {
    background-color: #1e90ff;
}

body.dark-mode ::-webkit-scrollbar-track {
    background-color: #222;
}


:root {
    --primary-color: #623cea;
    /* Similar a la paleta */
    --secondary-color: #b2ff4f;
    --text-color: white;
    --font-title: 'Poppins', sans-serif;
    --font-body: 'Roboto', sans-serif;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    padding: 5rem 2rem;
    color: var(--text-color);
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 4rem;
    font-family: var(--font-title);
    font-weight: bold;
    color: var(--secondary-color);
}

.hero-content p {
    font-size: 1.25rem;
    margin: 1rem 0;
    font-family: var(--font-body);
}

.hero-details {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.5;
}

.hero-image {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--secondary-color);
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}