body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #f7f7f7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    z-index: 2;
}

.header__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;
}

.profile-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.profile-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    text-align: center;
}

.profile-popup img {
    max-width: 100%;
    max-height: 100%;
}

.profile-popup .close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.profile__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.header__title {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.2s ease-in-out;
}

.header__title:hover {
    color: #ff6b6b;
}

.nav__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav__item {
    margin-left: 30px;
}

.nav__link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.2s ease-in-out;
    animation: menuAnimation 0.5s ease forwards;
}

.nav__menu {
    display: block;
    animation: menuAnimation 0.5s ease forwards;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s;
}

.menu-toggle.active {
    animation: menuAnimation 0.5s ease forwards;
}

@keyframes menuAnimation {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }
    to {
        
        transform: translateY(0); 
    }
}

.header__social-icons {
    display: flex;
    align-items: center;
}

.social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    text-align: center;
    line-height: 40px;
    transition: all 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
    background-color: #000;
    color: #fff;
}

.social-icon i {
    font-size: 18px;
}

.social-icon:nth-child(1) {
    background-color: #333;
    color: #fff;
}

.social-icon:nth-child(2) {
    background-color: #0077b5;
    color: #fff;
}

.social-icon:nth-child(3) {
    background-color: #25d366;
    color: #fff;
}

.nav__link:hover {
    color: #ff6b6b;
}

.buttonTitulo {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.buttonTitulo {
    --border-right: 6px;
    --text-stroke-color: rgb(0, 0, 0);
    --animation-color: #66c0f4;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: width 0.5s ease, filter 0.5s ease;
    -webkit-text-stroke: 1px var(--animation-color);
}

.buttonTitulo:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color));
    transition: width 0.5s ease, filter 0.5s ease;
}

/* proyectos */
.proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #c7c7c7;
    padding: 40px 20px;
}

.card {
    width: 90%;
    aspect-ratio: 1 / 0.7;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card .image-box {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card .image-box img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    object-position: center; 
    border-radius: 30%;
    max-width: 100%; 
    max-height: 100%; 
    transition: 0.5s ease-in-out;
    animation: fadeInScale 1s ease forwards;
}

.card:hover img {
    filter: grayscale(1) brightness(0.4);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}

.card:hover .content {
    opacity: 1;
}

.content h2,
.content p {
    margin: 10px 0;
}

p {
    font-size: 12px;
}

.content .icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card:hover .icons {
    opacity: 1;
}

.content .icons a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.content .icons a:hover {
    color: #ffcc00;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8); 
    }
    100% {
        opacity: 1;
        transform: scale(1); 
    }
}


/* Footer */
.footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 60px 0;
}

.footer__grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__item {
    flex-basis: calc(50% - 20px);
    margin-bottom: 40px;
}

.footer__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__list li {
    margin-bottom: 10px;
    display: flex;
}

.footer__list li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.footer__list li a:hover {
    color: #c7c7c7;
}

.footer__description {
    margin-bottom: 20px;
}

.footer__separator {
    border: 1px solid #fff;
    margin: 20px 0;
}

.footer__rights {
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 1000px) {
    .proyectos {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
}

@media screen and (max-width: 600px) {
    .proyectos {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .card {
        width: 100%;
        aspect-ratio: auto;
    }

    .btn-agregar-carrito {
        width: 70%; 
        font-size: 0.6rem;
    }

    .content h2 {
        font-size: 0.8rem; 
    }

    .content p {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .nav__menu {
        display: none;
    }


    .menu-toggle {
        display: block; 
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #333;
        transition: background-color 0.3s; 
    }

    .menu-toggle:focus {
        outline: none;
    }
    
    .nav__menu.active {
        display: block; 
        background-color: #f7f7f7;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px;
        z-index: 1000;
    }
    

    .nav__list {
        flex-direction: column;
        text-align: center;
    }

    .nav__item {
        margin: 10px 0;
    }
}

/* Modo oscuro */
.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode {
    background-color: #444444;;
    color: #ffffff;
}

body.dark-mode .header {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .card {
    background-color: #444444;
    color: #ffffff;
}

body.dark-mode .proyectos {
    background-color: #444444;
    color: #ffffff;
}

body.dark-mode .h1{
    color: #fff;
}

body.dark-mode p{
    color: #fff;
}

body.dark-mode .buttonTitulo{
    color: #ffffff;
}

body.dark-mode .nav__link{
    color: #fff;
}

body.dark-mode .menu-toggle{
    background-color: #090909;
    color: #ffffff;
}

body.dark-mode .nav__menu{
    background-color: #202020;
    color: #ffffff;
}