body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* .header {
    background-color: #333B4E;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;
}

.profile-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.profile-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    text-align: center;
}

.profile-popup img {
    max-width: 100%;
    max-height: 100%;
}

.profile-popup .close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.profile__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.header__title {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.2s ease-in-out;
}

.nav__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav__item {
    margin-left: 30px;
}

.nav__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.2s ease-in-out;
}

.nav__menu {
    display: block;
    animation: menuAnimation 0.5s ease forwards;
}



@keyframes menuAnimation {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        transform: translateY(0);
    }
}

.header__social-icons {
    display: flex;
    align-items: center;
}

.social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    text-align: center;
    line-height: 40px;
    transition: all 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
    background-color: #000;
    color: #fff;
}

.social-icon i {
    font-size: 18px;
}

.social-icon:nth-child(1) {
    background-color: #333;
    color: #fff;
}

.social-icon:nth-child(2) {
    background-color: #0077b5;
    color: #fff;
}

.social-icon:nth-child(3) {
    background-color: #25d366;
    color: #fff;
}

.nav__link:hover {
    color: #5C708F;
}

.buttonTitulo {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.buttonTitulo {
    --border-right: 6px;
    --text-stroke-color: #fff;
    --animation-color: #5C708F;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: width 0.5s ease, filter 0.5s ease;
    -webkit-text-stroke: 1px var(--animation-color);
}

.buttonTitulo:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color));
    transition: width 0.5s ease, filter 0.5s ease;
}
 */

/* botones de secciones */

#section0 {
    background-color: #D5D4CF;
}

#section1 {
    background-color: #D5D4CF;
}

#section2 {
    background-color: #D5D4CF;
}

.nav-container {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 100;
}

.button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
}

.diamond {
    transition: transform 0.3s ease;
}

.square {
    transform: rotate(0);
}

.diamond {
    transform: rotate(45deg);
}

.sections {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.content {
    display: none;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    transition: opacity 0.5s ease-in-out;
    color: var(--text-color);    
    padding: 4rem 3rem;
}

.active {
    display: flex;
}

/* Sobre mi */

#section0{
    background-color: #5d6088;
}

:root {
    --primary-color: #623cea;
    /* Similar a la paleta */
    --secondary-color: #b2ff4f;
    --text-color: white;
    --font-title: 'Poppins', sans-serif;
    --font-body: 'Roboto', sans-serif;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 4rem 3rem;
    height: 100vh;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 4rem;
    font-family: var(--font-title);
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.25rem;
    font-family: var(--font-body);
    margin-bottom: 2rem;
}

.hero-details {
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    font-family: var(--font-body);
    line-height: 1.6;
}

.hero-image {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--secondary-color);
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.letterF {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 50px; 
    height: 50px; 
    object-fit: contain;
    z-index: 10; 
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s;
}

.menu-toggle.active {
    animation: menuAnimation 0.5s ease forwards;
}

.nav__menu {
    position: absolute;
    top: 2.5rem;
    right: 7rem;
}

.nav__list {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
}

.nav__link {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1rem;
    font-family: var(--font-body);
}

.nav__link:hover {
    color: #68932f;
}

.header__social-icons {
    position: absolute;
    top: 2rem;
    left: 5rem;
    display: flex;
    gap: 1rem;
}

.social-icon {
    color: var(--text-color);
    font-size: 1.5rem;
}

.social-icon:hover {
    transform: scale(1.2);
    color: var(--secondary-color);
}

.switch {

    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    --background: #8b898e;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px rgb(255, 255, 255);
    background: var(--background);
    transition: .5s;
}

input:checked+.slider {
    background-color: #434343;
}

input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #c8c8c8;
}

/* Responsividad */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
        padding: 2rem;
    }

    .hero-image {
        width: 200px;
        height: 200px;
        margin: 2rem 0;
    }

    .nav__menu,
    .header__social-icons,
    .switch {
        top: 1rem;
        right: 1rem;
        left: unset;
    }
}

/* Skills */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section__title__skills {
    text-align: center;
    font-size: 3rem;
    color: #5C708F;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    animation: slideIn 0.5s ease-out;

}

.skills__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.skill__card {
    background: #C8B8A8;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
}

.skill__card:hover {
    transform: translateY(-5px);
}

.skill__icon {
    font-size: 50px;
    color: #4a4a4a;
    margin-bottom: 15px;
}

.skill__title {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
}

.skill__button {
    background-color: #4a4a4a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.skill__button:hover {
    background-color: #D5D4CF;
    color: #000;
}

.skill__description {
    display: none;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #555;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hidden {
    opacity: 0;
    transform: translateY();
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}


/* Experiencias */
.experience-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #D5D4CF;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(30px);
    animation: fadeSlideIn 1.5s ease-out forwards;
}

.section__title__work {
    font-size: 3rem;
    color: #5C708F;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    animation: slideIn 0.5s ease-out;
    text-align: center;
}

.experience-card {
    background: #C8B8A8;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideIn 1s ease-out forwards;
}

.experience-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.experience-header {
    margin-bottom: 15px;
}

.job-title {
    font-size: 1.8rem;
    color: #333;
    margin: 0;
}

.company {
    font-size: 1.2rem;
    color: #666;
    margin: 0;
}

.duration {
    font-size: 1rem;
    color: #999;
}

.description {
    font-size: 1rem;
    line-height: 1.5;
    color: #444;
}

@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Datos aleatorios */
#section3 {
    display: flex;
    justify-content: space-between;
    padding: 60px 20px;
    background-color: #D5D4CF;
}

.tech-info-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.tech-info-left {
    flex: 1;
    padding-right: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.tech-image-left {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    object-fit: cover;
    margin: 0;
    text-align: center;
}


.tech-info-right {
    flex: 2;
    max-width: 800px;
    text-align: left;
}

.tech-info-header {
    margin-bottom: 40px;
}

.tech-title {
    font-size: 3rem;
    color: #5C708F;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    animation: slideIn 0.5s ease-out;
}

.tech-description {
    font-size: 1rem;
    color: #333B4E;
    margin-top: 15px;
    opacity: 0.8;
}

.tech-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tech-detail {
    background-color: #C8B8A8;
    border-radius: 12px;
    padding: 30px;
    position: relative;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.tech-detail:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}



.tech-detail:hover .tech-image {
    transform: scale(1.1);
}

.detail-title {
    font-size: 1.6rem;
    color: #333B4E;
    margin-bottom: 10px;
    font-weight: 600;
}

.detail-text {
    font-size: 1.1rem;
    color: #333B4E;
    line-height: 1.6;
    opacity: 0.9;
}

@keyframes slideIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@media screen and (max-width: 1000px) {
    .header {
        display: flex;
        flex-direction: column;
        padding: 5px;
        align-items: flex-start;
        position: relative;
        transition: opacity 0.5s ease;
        animation: fadeIn 0.5s ease-out;
    }

    .header.hidden {
        animation: fadeOut 0.5s ease-out;
        opacity: 0;
    }

    .header__logo {
        margin-bottom: 10px;
        margin: 0 auto;
    }

    .header__social-icons {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin: 0 auto;
    }

    .header__profile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .profile__image {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    #toggle-dark-mode {
        margin-top: 10px;
        align-self: center;
    }

    .header__title {
        font-size: 20px;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #ffffff;
        transition: color 0.3s;
        margin: 0 auto;
        order: 3;
    }

    .nav__menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #262c3a;
        padding: 10px;
        z-index: 999;
    }

    .nav__menu.active {
        display: flex;
    }

    .nav__list {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav__item {
        margin: 10px 0;
    }

    .nav__link {
        font-size: 18px;
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .header__logo img {
        width: 35px;
        height: 35px;
    }

    .header__title {
        font-size: 18px;
    }

    .header button {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .nav__link {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .skills__grid {
        grid-template-columns: 1fr;
    }

    .tech-info-container {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .content {
        display: block;
        opacity: 1;
        transform: none;
        transition: none;
    }

    .content.active {
        opacity: 1;
    }

    .button,
    .quick-navigation {
        display: none;
    }

    .content {
        display: block;
    }
}



@media screen and (max-width: 1000px) {
    .skills__grid {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 10%;
    }


    .section-title {
        font-size: 0.5rem;
    }

    .section-skills {
        margin-top: 70%;
    }

    .random-title {
        font-size: 1em;
    }

    .random-text {
        font-size: 0.7em;
    }
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #007bff;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

/* modo oscuro */
.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode {
    background-color: #444444;
    ;
    color: #ffffff;
}

body.dark-mode .header {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .section-about {
    background-color: #444444;
    color: #ffffff;
}

body.dark-mode .h1 {
    color: #fff;
}

body.dark-mode p {
    color: #fff;
}

body.dark-mode .nav__link {
    color: #fff;
}

body.dark-mode .buttonTitulo {
    color: #ffffff;
}

body.dark-mode .content.active {
    background-color: #444444;
    color: #ffffff;
}

/* SobreMi */
body.dark-mode .about-container {
    background-color: #8C8C8C;
    color: #ffffff;
}

body.dark-mode #section0 {
    background-color: #737373;
    color: #ffffff;
}

body.dark-mode .section__title__aboutMe {
    color: #262626;
}

body.dark-mode .section__description {
    color: #0D0D0D;
}

/* Skills */

body.dark-mode #section1 {
    background-color: #737373;
    color: #ffffff;
}

body.dark-mode .skill__card {
    background-color: #8C8C8C;
}

body.dark-mode .section__title__skills {
    color: #262626;
}

body.dark-mode .skill__title {
    color: #262626;
}

body.dark-mode .description__skill {
    color: #0D0D0D;
}

/* Experiencias */

body.dark-mode #section2 {
    background-color: #737373;
    color: #ffffff;
}

body.dark-mode .section__title__work {
    color: #262626;
}

body.dark-mode .experience-container {
    background-color: #6d6d6d;
}

body.dark-mode .experience-card {
    background-color: #8C8C8C;
}

body.dark-mode .job-title {
    color: #0D0D0D;
}

body.dark-mode .company {
    color: #0D0D0D;
}

body.dark-mode .duration {
    color: #0D0D0D;
}

body.dark-mode .description {
    color: #0D0D0D;
}

/* Random */

body.dark-mode #section3 {
    background-color: #737373;
    color: #ffffff;
}

body.dark-mode .tech-title {
    color: #262626;
}

body.dark-mode .experience-container {
    background-color: #6d6d6d;
}

body.dark-mode .tech-description {
    color: #0D0D0D;
}

body.dark-mode .tech-detail {
    background-color: #8C8C8C;
}

body.dark-mode .detail-title {
    color: #0D0D0D;
}

body.dark-mode .detail-text {
    color: #0D0D0D;
}


/* Estilos generales */
body.dark-mode .menu-toggle {
    background-color: #090909;
    color: #ffffff;
}

body.dark-mode .nav__menu {
    background-color: #202020;
    color: #ffffff;
}

body.dark-mode .buttonTitulo {
    --text-stroke-color: #b3b3b3;
    --animation-color: #000a95;
}

body.dark-mode .buttonTitulo .hover-text {
    -webkit-text-stroke: 1px var(--animation-color);
    border-right: var(--border-right) solid var(--animation-color);
}

body.dark-mode .buttonTitulo:hover .hover-text {
    filter: drop-shadow(0 0 23px var(--animation-color));
}